<p>Nombre del Empleado: {{nombre}}</p>
<p>Edad:{{edad}}</p>
<p>Los últimos tres sueldos son: {{sueldos[0]}}, {{sueldos[1]}} y {{sueldos[2]}}</p>
<p>En los últimos 3 meses ha ganado: {{sueldos[0]+sueldos[1]+sueldos[2]}}</p>
<p>El empleado dentro de 5 años tendrá:{{edad+5}}</p>
<p>Puede visitar el sitio ingresando <a href="{{sitio}}">aquí</a></p>
<br>

<p *ngIf="edad>=18; else menor">Es mayor de edad.</p>
<ng-template #menor><p>Es un menor de edad.</p></ng-template>

<table border="1">
  <tr>
    <td>Sueldos</td>
  </tr>
  <tr *ngFor="let sueldo of sueldos">
    <td>{{sueldo}}</td>
  </tr>
</table>
<br>

<div>
  <p>Ingrese Profesión<input type="text" [(ngModel)]="profesion"></p>
  <p>Ingrese Años Experiencias<input type="text" [(ngModel)]="anios"></p>
  <p>Dato completo: Es {{profesion}} con {{anios}} años de experiencia</p>
</div>

<router-outlet></router-outlet>